body{
    /* padding: 0px; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(255, 255, 255); */
    
}

.menubar{
    height: 80px;
    background-color: rgba(178, 92, 12, 0.953);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    /* padding-right:10px; */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 200;
 
}

.menu{
    display: flex;
    flex: 1;
    /* padding: 3px; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: rgb(23, 37, 37);


}
.menu:hover{
    background-color: rgba(226, 204, 148, 0.238);
    margin: 2px;
    padding: 31px 0px;  
    
}
.menu:active{
    background-color: rgba(149, 76, 8, 0.855);
}

.logo{
    width: 250px;
    height: 80px;
    padding-left: 10px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
}
.hamburger-logo{
    margin-right: 15px;
    display: none;
    cursor: pointer;
    position: relative;
}
.hamburger-logo:hover{
    .sidemenu{
        display: block;
    }
}
.sidemenu{
    background-color: rgba(194, 162, 117, 0.533);
    padding: 5px 0px;
    position: absolute;
    top: 25px;
    right: 0px;
    display: none;
}

.sidemenu p{
    color: rgb(23, 37, 37);
    font-size: 18px;
    padding: 20px;
    margin: 0;
    line-height: 0;
    transition: .3s;
    font-weight: bold;
}
.sidemenu p:hover{
    background-color: rgb(223, 136, 6);
}



/*-------------------------------------------------------------Contents starts from here--------------------------------------------------*/

.content{
    padding-top: 75px;
}

.themediv{
    /* height: 700px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 20px;
    
}
.imagebox{
    background-image: url("images/children-7339441_960_720.jpg");
    background-size: cover;
    background-position: center;
}
.imagebox,.textbox{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: rgba(5, 8, 34, 0.889); */

}


.textbox{
    background-image: url(images/education.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.filter{
    background: rgba(0, 0, 0, 0.504);
    position: absolute;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
}

.toptext{
    z-index: 100;
    position: absolute;
    color: rgba(255, 253, 253, 0.744);
    font-weight: bold;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------------------------------------------Grid boxes Info starts here------------------------------------------------*/

.background{
    background-image: url(images/children-876543_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 700px;
    width: 90%;
    margin: auto;
    /* padding: 8px; */
    border-radius: 3px;
    
}

.infos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    z-index: 100;    
    
}
.notice-and-opening{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.infobox-director-principal{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.boxes{
    height: 180px;
    margin: 10px;
    display: flex;
    border: solid rgba(159, 75, 35, 0.821) 3px;
    border-radius: 8px;
    color: rgba(196, 224, 238, 0.823);
    font-weight: bold;
    /* text-decoration: underline; */
    padding: 10px;
    background-color: rgba(35, 35, 35, 0.289);
    transition: 0.2s;
    overflow: hidden;
    justify-content: start;
    flex-direction: column;

    
}
.boxes:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.684);
    background-color: rgba(206, 209, 212, 0.471);
    color: black;

}

.noticebox{
    height: 410px;
    overflow-y: none;
}
#marquee{
    height: 100%;

}
/* .openingbox{
    height: 45%;
} */
.div-head{
    text-align:center;
    text-decoration: underline;
    font-size: 24px;

}
.div-content{
    font-size: 18px;
    padding-top: 10px;
    height: 100%;
    font-weight: normal;
    /* margin-top: 10px; */
    /* overflow: scroll; */

}

/* --------------------------------------------------------------status box start here-------------------------------------------*/

.outer-div{
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: rgba(78, 23, 0, 0.921);

}
.our-status{
    display: flex;
    flex-direction: row;
    /* align-self: stretch; */
    align-items: center;
    justify-content: space-around;
    font-weight: bold;

}

.statusbox{
    display: flex;
    flex-direction: column;
    /* flex:1; */
    width: 30%;
    min-width: 80px;
    margin: 7px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgba(190, 147, 91, 0.766);
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
}
.statusbox:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.466);
    background-color: rgb(230, 198, 159);
}
.numbers{
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(23, 37, 37);
    text-align: center;
}
/*------------------------------------------------footer start here---------------------------------*/
.footer{
    height: 500px;
    background-color: rgba(0, 0, 0, 0.859);
    width: 100%;
    margin: 2px;
    color: white;
    padding: 15px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 4px;

}
.link-box{
    height: 30px;
    border: solid white 1px;
    margin: 10px;
    margin-bottom: 60px;
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    transition: 0.3s;
    
}
.link-box:hover{
    width: 78%;
}
.links{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 20px;
    margin: 15px;
    width: fit-content;
    cursor: pointer;
    transition: 0.2s;
}
.links:hover{
    text-decoration: underline;
    font-size: 18px;
}

.detail-box{
    display: flex;
    flex-direction: row;
    /* border: solid white; */
    height: 300px;
    width: 100%;
    margin-top: 15px;
    justify-content: space-around;

    /* margin: 30px; */
    /* padding: 20px; */
}
.contact-box{
    display: flex;
    flex-direction: column;
    /* border: solid red 1px; */
    align-items: center;
    height: 200px;
    width: 30%;
    padding: 30px;
}
.name{
    font-size: 28px;
    margin-bottom: 0px;
    /* border: solid yellow; */
    text-align: center;
    width: 100%;
}
.contact-info{
    margin: 10px;
    text-align: center;
    width: 100%;
    /* border: solid blue; */
}
.email{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
    text-align: center;
    /* border: solid green; */
    width: 100%;
    color: rgba(255, 255, 255, 0.607);
}
.copyright{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.607);
    font-size: 14px;
}

.map-box{
    /* border: solid red 2px; */
    height: 280px;
    width: 30%;
    display: flex;
    align-items: center;
}

/*---------------------------------------- responsiveness */
@media (max-width:849px) {
    body{
        padding: 0px 0px;
    }
    .menubar{
        height: 60px;
    }
    .hamburger-logo{
        display: block;
    }
    .menu,.map-box,.link-box{
        display: none;
    }
    .logo{
        width: fit-content;
    }
    .logoimg{
        height: 60px;
    }
    .themediv{
        padding: 0;
        grid-template-columns: 1fr;
    }
    .imagebox,.textbox{
        height: 300px;
    }
    /*---------------------------------middle section-- */
    
    .detail-box{
        flex-direction: column;
        align-items: center;
    }
    
    .background{
        height: 740px;
        width: 100%;
    }
    .infos{
        display: flex;
        flex-direction: column;
        /* align-items: stretch; */
    }
    .boxes{
        height: 120px;
        margin: 10px;
    }
  
    .div-content{
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
    }
    .noticebox,.openingbox{
        height: 200px;
        width: 44%;
       
    }
    .notice-and-opening{
        width: 100%;
        height: max-content;
        flex-direction: row;
        justify-content: space-around;
    }
    .infobox-director-principal{
        width: 100%;
    }

    /* -------------------------------------status box------------ */
    .outer-div{
        height: fit-content;
    }
    .numbers{
        font-size: 36px;
    }
    .statusbox{
        font-size: 16px;
    }
    .headline{
        font-size: 34px;
    }
/* ----------------------------------------------------Footer */
    .footer{
        height: 300px;
        width: 100%;
    }
    .contact-box{
        padding: 0px;
        width: 100%;
    }
    .contact-info{
        margin: 0px;
    }

    @media  (max-width: 500px) {
        .headline{
            font-size: 25px;
        }
        .statusbox{
            height: 150px;
            font-size: 12px;
        }
        .numbers{
            font-size: 25px;
        }
        .boxes{
            line-height: 5px;
        }
        .div-head{
            font-size: 20px;
        }
        .div-content{
            font-size: 15px;
            text-align: justify;
        }
        .background{
            width: 100%;
        }
        
    }
}


@media(min-width:851px) and (max-width:1049px) {
    .home,.events,.ach{
        display: none;
    }
    .logo{
        width: fit-content;
    }
    .hamburger-logo{
        margin-right: 20px;
        display: block;
    }

}


@media(min-width:1050px) and (max-width: 1160px){
    .logo{
        width: fit-content;
    }
    .home{
        display: none;
    }
}
